<!--@Author Nicolas Zanardo-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="share/head"></head>
<body>
<header th:insert="share/header"></header>

<main>
  <!--        Title-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <h1>Classe</h1>
          <div class="mx-3" th:if="${isEdit}">
            <a  class="btn btn-secondary" th:href="@{~/manage-class}">Ajout d'une nouvelle classe</a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!--        Form-->
  <div class="container text-center bg-light shadow-sm p-3">
    <form th:action="@{~/save-class}" method="post" th:object="${classRoom}">
      <input type="hidden" th:field="*{id}" class="form-control">

      <div class="d-flex align-items-center py-3">
        <div class="d-flex align-items-center me-3 w-75">
          <label for="inputName" class="me-3 w-25 text-start">Nom de la salle</label>
          <input type="text" th:field="*{name}" class="form-control w-75" id="inputName" required>
        </div>
        <div class="w-25 text-end"></div>
      </div>

      <div class="d-flex my-3 w-100">
        <div class="d-flex align-items-center me-3 w-75">
          <label for="inputNombrePlaces" class="me-3 w-25 text-start">Nombre de place</label>
          <input type="number" th:field="*{nbrPeople}" class="form-control w-75" id="inputNombrePlaces" required>
        </div>

        <div class="w-25 text-end">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>

      </div>
    </form>
  </div>

  <div class="container">
    <hr>
    <table class="table mt-3">
      <thead>
      <tr>
        <th>Nom de la classe</th>
        <th>nombre de place</th>
        <th class="text-end"><div class="px-3">Action</div></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="class, row : ${listClasses}">
        <td  th:text="${class.name}">nom</td>
        <td  th:text="${class.nbrPeople}">nom</td>
        <td class="text-end">
          <a th:href="@{~/manage-class/{id}(id=${class.id})}"><button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button></a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"  th:attrappend="data-bs-target=${'#modalDelete_' + class.id}">
            <i class="fa-solid fa-trash"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" th:attrappend="id=${'modalDelete_' + class.id}, aiaria-labelledby=${'modalLabelDelete_' + class.id}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <div class="d-flex align-items-end"><b class="modal-title me-2" th:attrappend="id=${'modalLabelDelete_' + class.id}">Suppression : </b> <span th:text="${class.name}"></span></div>

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  <div>Vous êtes sur le point de supprimer <b th:text="${class.name}"></b>.</div>
                  <div>Voulez vous continuer ?</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                  <a th:href="@{~/delete-class/{id}(id=${class.id})}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<div th:insert="share/script"></div>

</body>
</html>