<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Calendrier Web Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-brand" >IMIE</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{~/manage-type-salle}">Gestion types de salles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{~/manage-salle}">Gestion des salles</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <button class="btn btn-outline-info" type="submit">login</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main >
<!--        Title-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <h1>Type salle</h1>
                        <div class="mx-3" th:if="${isEdit}">
                            <a  class="btn btn-secondary" th:href="@{~/manage-type-salle}">Ajout d'un nouveau type de salle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        Form-->
        <div class="container text-center bg-light shadow-sm py-5">
            <form th:action="@{~/save-type-salle}" method="post" th:object="${typeSalle}">
                <input type="hidden" th:field="*{id}" class="form-control">
                <div class="mb-3 row">
                    <label for="inputName" class="col-2 col-form-label">Type de salle</label>
                    <div class="col-sm-7">
                        <input type="text" th:field="*{nom}" class="form-control" id="inputName" required>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <hr>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th>Type de Salle</th>
                    <th class="text-end"><div class="px-3">Action</div></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="typeSalle, row : ${typeSalles}">
                    <td  th:text="${typeSalle.nom}">nom</td>
                    <td class="text-end">
                       <a th:href="@{~/manage-type-salle/{id}(id=${typeSalle.id})}"><button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"  th:attrappend="data-bs-target=${'#modalDelete_' + typeSalle.id}">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:attrappend="id=${'modalDelete_' + typeSalle.id}, aiaria-labelledby=${'modalLabelDelete_' + typeSalle.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark text-white">
                                        <div class="d-flex align-items-end"><b class="modal-title me-2" th:attrappend="id=${'modalLabelDelete_' + typeSalle.id}">Suppression : </b> <span th:text="${typeSalle.nom}"></span></div>

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        <div>Vous êtes sur le point de supprimer <b th:text="${typeSalle.nom}"></b>.</div>
                                        <div>Voulez vous continuer ?</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                                        <a th:href="@{~/delete-type-salle/{id}(id=${typeSalle.id})}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </main>


    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Custom Code -->
    <script src="index.js"></script>
    <script>
        const table = new simpleDatatables.DataTable("table")
    </script>

</body>
</html>