<!--@Author Nicolas Zanardo-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="share/head"></head>
<body>
<header th:insert="share/header"></header>


<main >
  <!--        Title-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <h1>Salle</h1>
          <div class="mx-3" th:if="${isEdit}">
            <a  class="btn btn-secondary" th:href="@{~/manage-salle}">Ajout d'une nouvelle salle</a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <!--        Form-->
  <div class="container text-center bg-light shadow-sm p-3">
    <form th:action="@{~/save-salle}" method="post" th:object="${room}">
      <input type="hidden" th:field="*{id}" class="form-control">

      <div class="d-flex align-items-center py-3">
        <label for="inputName" class="me-3 w-25 text-start">Nom de la salle</label>
        <input type="text" th:field="*{name}" class="form-control w-75" id="inputName" required>
      </div>
      <div class="d-flex my-3">
        <div class="d-flex align-items-center w-50 me-3">
          <label for="inputNombrePlaces" class="me-3">Nombre de place</label>
          <input type="number" th:field="*{nbrPlace}" class="form-control w-50" id="inputNombrePlaces" required>
        </div>
        <select class="form-select w-50" aria-label="Default select" th:field="*{roomType}" th:if="${idTypeRoom == null}" required>
          <option class="col-sm-3" th:each="room : ${listTypeRoom}" th:value="${room.id}" th:text="${room.name}"></option>
        </select>
        <select class="form-select w-50" aria-label="Default select" name="roomType" th:if="${idTypeRoom}" required>
          <option class="col-sm-3" th:each="room : ${listTypeRoom}" th:value="${room.id}" th:text="${room.name}" th:selected="${room.id == idTypeRoom}"></option>
        </select>
        <div class="w-50 text-end">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <hr>
    <table class="table mt-3">
      <thead>
      <tr>
        <th>Nom de Salle</th>
        <th>Type de Salle</th>
        <th class="text-end"><div class="px-3">Action</div></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room, row : ${listRoom}">
        <td  th:text="${room.name}">nom</td>
        <td  th:text="${room.roomType.name}">nom</td>
        <td class="text-end">
          <a th:href="@{~/manage-salle/{id}(id=${room.id})}"><button class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button></a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"  th:attrappend="data-bs-target=${'#modalDelete_' + room.id}">
            <i class="fa-solid fa-trash"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" th:attrappend="id=${'modalDelete_' + room.id}, aiaria-labelledby=${'modalLabelDelete_' + room.id}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <div class="d-flex align-items-end"><b class="modal-title me-2" th:attrappend="id=${'modalLabelDelete_' + room.id}">Suppression : </b> <span th:text="${room.name}"></span></div>

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                  <div>Vous êtes sur le point de supprimer <b th:text="${room.name}"></b>.</div>
                  <div>Voulez vous continuer ?</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                  <a th:href="@{~/delete-salle/{id}(id=${room.id})}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</main>

<div th:insert="share/script"></div>

</body>
</html>